.App {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 20px;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
}
header {
  background-color: #584394;
  border-radius: 20px;
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white
}

button, .delete, .edit {
  cursor: pointer;
}

/* List Components */

.list-content {
  margin-top: 50px;
  height: 300px;
  overflow: auto;
}
.list-content::-webkit-scrollbar {
  width: 1vw;
  margin-left: 10px;
}

.list-content::-webkit-scrollbar-track {
  background-color: gray;  
  border-radius: 20px;
}

.list-content::-webkit-scrollbar-thumb {
  background-color: #584394;
  border-radius: 20px;
}
.list-content-wrapper {
  position: relative;
}

.fa-trash {
  position:absolute;
  top:-28px;
  right:0;
  color: rgb(214, 0, 0);
  cursor: pointer;
}
.loading {
  position: absolute;
  top:-58px;
  left: 50px;
  font-size:medium;

}
.error {
  position: absolute;
  top:-58px;
  left: 20px;
  color: rgb(161, 7, 7);

}
.items {
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.editContent {
  display: none;
  text-align: center;
}

.editContent .btn-done {
  background-color: rgb(61, 209, 61);
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

.editContent .edit {
  margin-right: 10px;
}

.items  p, .items form{
  margin: 0;
  display: inline;
}

.addTodo {
  background-color: #d9d7d7;
  border-radius: 20px;
  margin-top: 50px;
  padding: 5px 10px;
}

form {
  display: flex;
  width: 100%;
  justify-content:space-between ;
}

.addTodo form input[type=text]{
  width: 90%;
  border: none;
  outline: none;
}

button{
  border: none;
}

.submit{
  background-color: #5065AD;
  border-radius: 50%;
  color: white;  
}
